:root {
  --main-background-color: #e5e5e5;
  --title-color: #212121;
  --main-text-color: #757575;
  --dark-bg-color: #2f303a;
  --accent-color: #2196f3;
}
body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
address {
  font-style: normal;
}

/*logo*/
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
}
.logo-second {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}
.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
}
/*site-nav*/
.site-nav .link {
  color: var(--title-color);
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/*contact*/
.contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.contact-footer {
  color: #ffffff99;
}
.contact-footer-adress {
  color: #ffffff;
  text-decoration: none;
}
/*Hero*/
.hero {
  background-color: var(--dark-bg-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-button.button {
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  background: #f5f4fa;
  cursor: pointer;
  text-decoration: none;
}

h2,
h3 {
  color: var(--title-color);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
}

.footer {
  background-color: var(--dark-bg-color);
}
