:root {
  --main-background-color: #e5e5e5;
  --main-white-color: #ffffff;
  --title-text-color: #212121;
  --main-text-color: #757575;
  --dark-bg-color: #2f303a;
  --accent-color: #2196f3;
  --background-button: #f5f4fa;
  --contact-color: #ffffff99;
  --logo-color: #000000;
  --font-title: Roboto, sans-serif;
  --font-logo: Raleway, sans-serif;
}
body {
  font-family: var(--font-title);
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.header {
  background-color: var(--main-white-color);
}

/*Логотип*/
.logo-second {
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
}

.logo-title {
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-color);
  text-decoration: none;
}

/*Навигацыя*/
.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav.list {
  font-weight: 500;
}

/*Контакты*/
.contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contact-footer {
  color: var(--contact-color);
}

.contact-footer-adress {
  color: var(--main-white-color);
  text-decoration: none;
}

/*Герой*/
.hero {
  background-color: var(--dark-bg-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36; 
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

/*Кнопки*/
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-text-color);
  background-color: var(--background-button);
  cursor: pointer;
  text-decoration: none;
}

.hero-button.button {
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--main-white-color);
}

/*Галерея*/
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

h2,
h3 {
  color: var(--title-text-color);
}

/*Ссылки*/
.link {
  text-decoration: none;
  color: inherit;
}

/*Списки*/
.list {
  list-style: none;
}

.list-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/*Котанда*/
.section-team {
  background-color: var(--background-button);
}
.team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .team-title {
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
}

.team-position {
  color: var(--main-text-color);
}

 /*Портфолио. Наш продукт*/
.products-type {
  font-size: 16px;
  line-height: 1.87;}

  .products-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;}


/*Подвал*/
.footer {
  background-color: var(--dark-bg-color);
}

.footer .logo-title {
  font: var(--font-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-white-color);
}
address {
  font-style: normal;
}

/*Скрить заголовки*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
